body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2153px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:491px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u905 {
  position:absolute;
  left:116px;
  top:259px;
  width:308px;
  height:491px;
}
#u906 {
  position:absolute;
  left:2px;
  top:238px;
  width:304px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:55px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  position:absolute;
  left:116px;
  top:205px;
  width:304px;
  height:55px;
}
#u909 {
  position:absolute;
  left:2px;
  top:20px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u910 {
  position:absolute;
  left:116px;
  top:205px;
  width:301px;
  height:13px;
}
#u911 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u912 {
  position:absolute;
  left:178px;
  top:225px;
  width:180px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u914 {
  position:absolute;
  left:120px;
  top:227px;
  width:47px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u916 {
  position:absolute;
  left:115px;
  top:225px;
  width:21px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u917 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:162px;
  top:228px;
  width:173px;
  height:28px;
}
#u918_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
}
#u918.selected {
}
#u919 {
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920 {
  position:absolute;
  left:116px;
  top:256px;
  width:304px;
  height:193px;
  overflow:hidden;
  visibility:hidden;
}
#u920_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:193px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u920_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
.u922 {
  position:absolute;
  left:0px;
  top:-1px;
  width:245px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
.u923 {
  position:absolute;
  left:10px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u921-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:29px;
}
#u921-2 {
  position:absolute;
  left:0px;
  top:29px;
  width:245px;
  height:29px;
}
#u921-3 {
  position:absolute;
  left:0px;
  top:58px;
  width:245px;
  height:29px;
}
#u921-4 {
  position:absolute;
  left:0px;
  top:87px;
  width:245px;
  height:29px;
}
#u921-5 {
  position:absolute;
  left:0px;
  top:116px;
  width:245px;
  height:29px;
}
#u921-6 {
  position:absolute;
  left:0px;
  top:145px;
  width:245px;
  height:29px;
}
#u921-7 {
  position:absolute;
  left:0px;
  top:174px;
  width:245px;
  height:29px;
}
#u921-8 {
  position:absolute;
  left:0px;
  top:203px;
  width:245px;
  height:29px;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u924 {
  position:absolute;
  left:164px;
  top:230px;
  width:170px;
  height:25px;
}
#u924_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(99, 209, 196, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u925 {
  position:absolute;
  left:343px;
  top:228px;
  width:71px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u925_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u925.mouseOver {
}
#u926 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:55px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u928 {
  position:absolute;
  left:596px;
  top:205px;
  width:304px;
  height:55px;
}
#u929 {
  position:absolute;
  left:2px;
  top:20px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u930 {
  position:absolute;
  left:596px;
  top:205px;
  width:301px;
  height:13px;
}
#u931 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u932 {
  position:absolute;
  left:658px;
  top:225px;
  width:180px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u934 {
  position:absolute;
  left:600px;
  top:227px;
  width:47px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u936 {
  position:absolute;
  left:595px;
  top:225px;
  width:21px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u937 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u939 {
  position:absolute;
  left:600px;
  top:263px;
  width:300px;
  height:666px;
  overflow:hidden;
}
#u939_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:666px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u939_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:980px;
  overflow:hidden;
  touch-action:none;
}
#u940_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:980px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u940_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u944 {
  position:absolute;
  left:0px;
  top:10px;
  width:150px;
  height:190px;
}
.u945 {
  position:absolute;
  left:2px;
  top:87px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
.u946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:113px;
}
.u947 {
  position:absolute;
  left:0px;
  top:10px;
  width:145px;
  height:113px;
}
.u948 {
  position:absolute;
  left:2px;
  top:48px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
.u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u949 {
  position:absolute;
  left:1px;
  top:127px;
  width:144px;
  height:32px;
}
.u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  word-wrap:break-word;
}
.u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
.u951 {
  position:absolute;
  left:1px;
  top:164px;
  width:55px;
  height:12px;
  font-size:9px;
}
.u952 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
.u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u953 {
  position:absolute;
  left:0px;
  top:179px;
  width:43px;
  height:16px;
}
.u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u955 {
  position:absolute;
  left:77px;
  top:174px;
  width:68px;
  height:23px;
}
.u956 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
.u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:14px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u957 {
  position:absolute;
  left:8px;
  top:109px;
  width:137px;
  height:14px;
}
.u958 {
  position:absolute;
  left:2px;
  top:-1px;
  width:133px;
  word-wrap:break-word;
}
.u959 {
  position:absolute;
  left:0px;
  top:10px;
  width:150px;
  height:190px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u942-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:200px;
}
#u942-2 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:200px;
}
#u942-3 {
  position:absolute;
  left:0px;
  top:200px;
  width:150px;
  height:200px;
}
#u942-4 {
  position:absolute;
  left:150px;
  top:200px;
  width:150px;
  height:200px;
}
#u942-5 {
  position:absolute;
  left:0px;
  top:400px;
  width:150px;
  height:200px;
}
#u942-6 {
  position:absolute;
  left:150px;
  top:400px;
  width:150px;
  height:200px;
}
#u942-7 {
  position:absolute;
  left:0px;
  top:600px;
  width:150px;
  height:200px;
}
#u942-8 {
  position:absolute;
  left:150px;
  top:600px;
  width:150px;
  height:200px;
}
#u942 {
  position:absolute;
  left:0px;
  top:60px;
  width:300px;
  height:800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u960 {
  position:absolute;
  left:128px;
  top:860px;
  width:55px;
  height:16px;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:88px;
}
#u963 {
  position:absolute;
  left:600px;
  top:263px;
  width:300px;
  height:88px;
}
#u964 {
  position:absolute;
  left:2px;
  top:36px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:187px;
}
#u965 {
  position:absolute;
  left:600px;
  top:290px;
  width:300px;
  height:187px;
}
#u966 {
  position:absolute;
  left:2px;
  top:86px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u967 {
  position:absolute;
  left:600px;
  top:263px;
  width:70px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u969 {
  position:absolute;
  left:642px;
  top:228px;
  width:173px;
  height:28px;
}
#u969_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
}
#u969.selected {
}
#u970 {
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u971 {
  position:absolute;
  left:642px;
  top:256px;
  width:174px;
  height:169px;
  overflow:hidden;
  visibility:hidden;
}
#u971_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:169px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u971_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
.u973 {
  position:absolute;
  left:0px;
  top:-1px;
  width:245px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
.u974 {
  position:absolute;
  left:10px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u972-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:29px;
}
#u972-2 {
  position:absolute;
  left:0px;
  top:29px;
  width:245px;
  height:29px;
}
#u972-3 {
  position:absolute;
  left:0px;
  top:58px;
  width:245px;
  height:29px;
}
#u972-4 {
  position:absolute;
  left:0px;
  top:87px;
  width:245px;
  height:29px;
}
#u972-5 {
  position:absolute;
  left:0px;
  top:116px;
  width:245px;
  height:29px;
}
#u972-6 {
  position:absolute;
  left:0px;
  top:145px;
  width:245px;
  height:29px;
}
#u972-7 {
  position:absolute;
  left:0px;
  top:174px;
  width:245px;
  height:29px;
}
#u972-8 {
  position:absolute;
  left:0px;
  top:203px;
  width:245px;
  height:29px;
}
#u972 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u975 {
  position:absolute;
  left:644px;
  top:230px;
  width:170px;
  height:25px;
}
#u975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(99, 209, 196, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u976 {
  position:absolute;
  left:823px;
  top:228px;
  width:71px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u976_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u976.mouseOver {
}
#u977 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u979 {
  position:absolute;
  left:1030px;
  top:110px;
  width:350px;
  height:745px;
  opacity:0;
}
#u980 {
  position:absolute;
  left:2px;
  top:364px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u981 {
  position:absolute;
  left:1055px;
  top:215px;
  width:305px;
  height:545px;
}
#u982 {
  position:absolute;
  left:2px;
  top:264px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:13px;
  background:inherit;
  background-color:rgba(34, 181, 137, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(34, 181, 137, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u983 {
  position:absolute;
  left:1057px;
  top:216px;
  width:304px;
  height:13px;
}
#u984 {
  position:absolute;
  left:2px;
  top:-2px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u985 {
  position:absolute;
  left:1057px;
  top:216px;
  width:301px;
  height:13px;
}
#u986 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:55px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u988 {
  position:absolute;
  left:1056px;
  top:205px;
  width:304px;
  height:55px;
}
#u989 {
  position:absolute;
  left:2px;
  top:20px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u990 {
  position:absolute;
  left:1056px;
  top:205px;
  width:301px;
  height:13px;
}
#u991 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u992 {
  position:absolute;
  left:1118px;
  top:225px;
  width:180px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u993 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u994 {
  position:absolute;
  left:1060px;
  top:227px;
  width:47px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u996 {
  position:absolute;
  left:1055px;
  top:225px;
  width:21px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u997 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u999 {
  position:absolute;
  left:1060px;
  top:263px;
  width:300px;
  height:487px;
  overflow:hidden;
}
#u999_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:487px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u999_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:980px;
  overflow:hidden;
  touch-action:none;
}
#u1000_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:980px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1000_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:120px;
}
.u1004 {
  position:absolute;
  left:2px;
  top:52px;
  width:282px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:110px;
}
.u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:110px;
}
.u1006 {
  position:absolute;
  left:2px;
  top:47px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
.u1007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
}
.u1007 {
  position:absolute;
  left:117px;
  top:98px;
  width:55px;
  height:12px;
  font-size:9px;
}
.u1008 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
.u1009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:23px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1009 {
  position:absolute;
  left:216px;
  top:87px;
  width:68px;
  height:23px;
}
.u1010 {
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
.u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1011 {
  position:absolute;
  left:117px;
  top:7px;
  width:167px;
  height:32px;
}
.u1012 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  word-wrap:break-word;
}
.u1013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1013 {
  position:absolute;
  left:117px;
  top:73px;
  width:43px;
  height:16px;
}
.u1014 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
.u1015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1015 {
  position:absolute;
  left:225px;
  top:66px;
  width:61px;
  height:16px;
}
.u1016 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
.u1017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u1017 {
  position:absolute;
  left:117px;
  top:47px;
  width:115px;
  height:16px;
}
.u1018 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
.u1019 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1001-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:120px;
}
#u1001-2 {
  position:absolute;
  left:0px;
  top:120px;
  width:286px;
  height:120px;
}
#u1001-3 {
  position:absolute;
  left:0px;
  top:240px;
  width:286px;
  height:120px;
}
#u1001-4 {
  position:absolute;
  left:0px;
  top:360px;
  width:286px;
  height:120px;
}
#u1001-5 {
  position:absolute;
  left:0px;
  top:480px;
  width:286px;
  height:120px;
}
#u1001-6 {
  position:absolute;
  left:0px;
  top:600px;
  width:286px;
  height:120px;
}
#u1001-7 {
  position:absolute;
  left:0px;
  top:720px;
  width:286px;
  height:120px;
}
#u1001-8 {
  position:absolute;
  left:0px;
  top:840px;
  width:286px;
  height:120px;
}
#u1001-9 {
  position:absolute;
  left:0px;
  top:960px;
  width:286px;
  height:120px;
}
#u1001-10 {
  position:absolute;
  left:0px;
  top:1080px;
  width:286px;
  height:120px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:60px;
  width:286px;
  height:1200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1020 {
  position:absolute;
  left:123px;
  top:1016px;
  width:55px;
  height:16px;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:65px;
}
#u1023 {
  position:absolute;
  left:1060px;
  top:263px;
  width:300px;
  height:65px;
}
#u1024 {
  position:absolute;
  left:2px;
  top:24px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1025 {
  position:absolute;
  left:1060px;
  top:263px;
  width:70px;
  height:28px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1027 {
  position:absolute;
  left:1102px;
  top:228px;
  width:173px;
  height:28px;
}
#u1027_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  -webkit-box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
  box-shadow:0px 0px 5px rgba(255, 0, 0, 0.647058823529412);
}
#u1027.selected {
}
#u1028 {
  position:absolute;
  left:2px;
  top:6px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1029 {
  position:absolute;
  left:1102px;
  top:256px;
  width:174px;
  height:169px;
  overflow:hidden;
  visibility:hidden;
}
#u1029_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:169px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1029_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u1031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
}
.u1031 {
  position:absolute;
  left:0px;
  top:-1px;
  width:245px;
  height:30px;
  font-size:12px;
  color:#999999;
  text-align:left;
}
.u1032 {
  position:absolute;
  left:10px;
  top:8px;
  width:235px;
  word-wrap:break-word;
}
#u1030-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:29px;
}
#u1030-2 {
  position:absolute;
  left:0px;
  top:29px;
  width:245px;
  height:29px;
}
#u1030-3 {
  position:absolute;
  left:0px;
  top:58px;
  width:245px;
  height:29px;
}
#u1030-4 {
  position:absolute;
  left:0px;
  top:87px;
  width:245px;
  height:29px;
}
#u1030-5 {
  position:absolute;
  left:0px;
  top:116px;
  width:245px;
  height:29px;
}
#u1030-6 {
  position:absolute;
  left:0px;
  top:145px;
  width:245px;
  height:29px;
}
#u1030-7 {
  position:absolute;
  left:0px;
  top:174px;
  width:245px;
  height:29px;
}
#u1030-8 {
  position:absolute;
  left:0px;
  top:203px;
  width:245px;
  height:29px;
}
#u1030 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:232px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u1033 {
  position:absolute;
  left:1104px;
  top:230px;
  width:170px;
  height:25px;
}
#u1033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(99, 209, 196, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1034 {
  position:absolute;
  left:1283px;
  top:228px;
  width:71px;
  height:28px;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1034_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:28px;
  background:inherit;
  background-color:rgba(79, 193, 176, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Bold', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1034.mouseOver {
}
#u1035 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u1036 {
  position:absolute;
  left:870px;
  top:270px;
  width:0px;
  height:0px;
}
#u1036_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:154px;
  height:8px;
}
#u1036_seg1 {
  position:absolute;
  left:146px;
  top:-174px;
  width:8px;
  height:178px;
}
#u1036_seg2 {
  position:absolute;
  left:146px;
  top:-174px;
  width:198px;
  height:8px;
}
#u1036_seg3 {
  position:absolute;
  left:336px;
  top:-174px;
  width:8px;
  height:14px;
}
#u1037 {
  position:absolute;
  left:100px;
  top:-118px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1038 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1039 {
  position:absolute;
  left:420px;
  top:276px;
  width:0px;
  height:0px;
}
#u1039_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u1039_seg1 {
  position:absolute;
  left:66px;
  top:-4px;
  width:8px;
  height:8px;
}
#u1040 {
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1041 {
  position:absolute;
  left:465px;
  top:282px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:33px;
}
#u1043 {
  position:absolute;
  left:116px;
  top:259px;
  width:304px;
  height:33px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:8px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:129px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1045 {
  position:absolute;
  left:200px;
  top:301px;
  width:58px;
  height:30px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:129px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1047 {
  position:absolute;
  left:130px;
  top:301px;
  width:60px;
  height:30px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u1049 {
  position:absolute;
  left:258px;
  top:316px;
  width:0px;
  height:0px;
}
#u1049_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:206px;
  height:8px;
}
#u1049_seg1 {
  position:absolute;
  left:198px;
  top:-4px;
  width:8px;
  height:282px;
}
#u1049_seg2 {
  position:absolute;
  left:198px;
  top:270px;
  width:114px;
  height:8px;
}
#u1050 {
  position:absolute;
  left:152px;
  top:83px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:545px;
}
#u1051 {
  position:absolute;
  left:114px;
  top:792px;
  width:306px;
  height:545px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:264px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1053 {
  position:absolute;
  left:491px;
  top:1008px;
  width:360px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  white-space:nowrap;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1055 {
  position:absolute;
  left:491px;
  top:1034px;
  width:639px;
  height:16px;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  white-space:nowrap;
}
#u1057 {
  position:absolute;
  left:420px;
  top:1000px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1057_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u1057_seg1 {
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:24px;
}
#u1057_seg2 {
  position:absolute;
  left:56px;
  top:12px;
  width:15px;
  height:8px;
}
#u1058 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1059 {
  position:absolute;
  left:1467px;
  top:299px;
  width:686px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  white-space:nowrap;
}
#u1061 {
  position:absolute;
  left:1360px;
  top:296px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1061_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u1061_seg1 {
  position:absolute;
  left:86px;
  top:-4px;
  width:8px;
  height:27px;
}
#u1061_seg2 {
  position:absolute;
  left:86px;
  top:15px;
  width:21px;
  height:8px;
}
#u1062 {
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1063 {
  position:absolute;
  left:1360px;
  top:296px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1063_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:14px;
  height:8px;
}
#u1063_seg1 {
  position:absolute;
  left:6px;
  top:-4px;
  width:8px;
  height:22px;
}
#u1063_seg2 {
  position:absolute;
  left:-20px;
  top:10px;
  width:34px;
  height:8px;
}
#u1064 {
  position:absolute;
  left:-43px;
  top:6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1065 {
  position:absolute;
  left:457px;
  top:603px;
  width:113px;
  height:32px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:160px;
}
#u1067 {
  position:absolute;
  left:147px;
  top:511px;
  width:241px;
  height:160px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:72px;
  width:237px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069 {
  position:absolute;
  left:211px;
  top:541px;
  width:99px;
  height:16px;
}
#u1070 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
