body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:753px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2315_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2315 {
  position:absolute;
  left:90px;
  top:110px;
  width:350px;
  height:745px;
  opacity:0;
}
#u2316 {
  position:absolute;
  left:2px;
  top:364px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2317_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2317 {
  position:absolute;
  left:115px;
  top:215px;
  width:305px;
  height:545px;
}
#u2318 {
  position:absolute;
  left:2px;
  top:264px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2319_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:13px;
  background:inherit;
  background-color:rgba(34, 181, 137, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(34, 181, 137, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2319 {
  position:absolute;
  left:117px;
  top:216px;
  width:304px;
  height:13px;
}
#u2320 {
  position:absolute;
  left:2px;
  top:-2px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2321_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u2321 {
  position:absolute;
  left:117px;
  top:216px;
  width:301px;
  height:13px;
}
#u2322 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:55px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2324 {
  position:absolute;
  left:117px;
  top:205px;
  width:304px;
  height:55px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:20px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u2326 {
  position:absolute;
  left:117px;
  top:205px;
  width:301px;
  height:13px;
}
#u2327 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2328 {
  position:absolute;
  left:179px;
  top:225px;
  width:180px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2329 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u2330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2330 {
  position:absolute;
  left:121px;
  top:227px;
  width:47px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2331 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u2332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2332 {
  position:absolute;
  left:116px;
  top:225px;
  width:21px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2333 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2334 {
  position:absolute;
  left:230px;
  top:79px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2335 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2336 {
  position:absolute;
  left:237px;
  top:304px;
  width:57px;
  height:16px;
}
#u2337 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2338 {
  position:absolute;
  left:132px;
  top:435px;
  width:101px;
  height:16px;
}
#u2339 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2340 {
  position:absolute;
  left:132px;
  top:467px;
  width:115px;
  height:16px;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2342 {
  position:absolute;
  left:132px;
  top:505px;
  width:119px;
  height:16px;
}
#u2343 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u2344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2344 {
  position:absolute;
  left:132px;
  top:540px;
  width:187px;
  height:16px;
}
#u2345 {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  white-space:nowrap;
}
#u2346_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:90px;
}
#u2346 {
  position:absolute;
  left:210px;
  top:329px;
  width:119px;
  height:90px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:37px;
  width:115px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2348 {
  position:absolute;
  left:329px;
  top:374px;
  width:0px;
  height:0px;
}
#u2348_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:181px;
  height:8px;
}
#u2348_seg1 {
  position:absolute;
  left:173px;
  top:-4px;
  width:8px;
  height:5px;
}
#u2349 {
  position:absolute;
  left:39px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2350 {
  position:absolute;
  left:523px;
  top:366px;
  width:230px;
  height:16px;
}
#u2351 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  white-space:nowrap;
}
