body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:1492px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:1099px;
  height:1492px;
}
#u34 {
  position:absolute;
  left:2px;
  top:738px;
  width:1095px;
  visibility:hidden;
  word-wrap:break-word;
}
