body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1927px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  position:absolute;
  left:90px;
  top:110px;
  width:350px;
  height:745px;
  opacity:0;
}
#u1842 {
  position:absolute;
  left:2px;
  top:364px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  position:absolute;
  left:115px;
  top:215px;
  width:305px;
  height:545px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:264px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:13px;
  background:inherit;
  background-color:rgba(34, 181, 137, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(34, 181, 137, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  position:absolute;
  left:117px;
  top:216px;
  width:304px;
  height:13px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:-2px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u1847 {
  position:absolute;
  left:117px;
  top:216px;
  width:301px;
  height:13px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1849 {
  position:absolute;
  left:116px;
  top:261px;
  width:305px;
  height:489px;
  overflow:hidden;
}
#u1849_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:489px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1849_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1850 {
  position:absolute;
  left:0px;
  top:0px;
  touch-action:none;
}
#u1850_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1850_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u1851 {
  position:absolute;
  left:113px;
  top:20px;
  width:1px;
  height:16px;
}
#u1852 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1853 {
  position:absolute;
  left:132px;
  top:32px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u1854 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:center;
}
#u1855 {
  position:absolute;
  left:90px;
  top:76px;
  width:127px;
  height:16px;
  color:#FF0000;
  text-align:center;
}
#u1856 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1857 {
  position:absolute;
  left:0px;
  top:450px;
  width:305px;
  height:40px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:12px;
  width:301px;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1859 {
  position:absolute;
  left:23px;
  top:149px;
  width:30px;
  height:30px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1861 {
  position:absolute;
  left:66px;
  top:151px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1862 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1863 {
  position:absolute;
  left:237px;
  top:146px;
}
#u1863_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1863_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u1864 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:34px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:9px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u1863_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:38px;
}
#u1866 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:38px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:11px;
  width:38px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1868 {
  position:absolute;
  left:23px;
  top:204px;
  width:30px;
  height:30px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1870 {
  position:absolute;
  left:66px;
  top:206px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1871 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1872 {
  position:absolute;
  left:244px;
  top:202px;
  width:30px;
  height:30px;
}
#u1873 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:55px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  position:absolute;
  left:117px;
  top:205px;
  width:304px;
  height:55px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:20px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u1877 {
  position:absolute;
  left:117px;
  top:205px;
  width:301px;
  height:13px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1879 {
  position:absolute;
  left:179px;
  top:225px;
  width:180px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1880 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u1881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1881 {
  position:absolute;
  left:121px;
  top:227px;
  width:47px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1882 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1883 {
  position:absolute;
  left:116px;
  top:225px;
  width:21px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1884 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1885 {
  position:absolute;
  left:230px;
  top:79px;
  width:99px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1886 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1888 {
  position:absolute;
  left:660px;
  top:110px;
  width:350px;
  height:745px;
  opacity:0;
}
#u1889 {
  position:absolute;
  left:2px;
  top:364px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1890 {
  position:absolute;
  left:685px;
  top:215px;
  width:305px;
  height:545px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:264px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:13px;
  background:inherit;
  background-color:rgba(34, 181, 137, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(34, 181, 137, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1892 {
  position:absolute;
  left:687px;
  top:216px;
  width:304px;
  height:13px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:-2px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u1894 {
  position:absolute;
  left:687px;
  top:216px;
  width:301px;
  height:13px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:55px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1897 {
  position:absolute;
  left:687px;
  top:205px;
  width:304px;
  height:55px;
}
#u1898 {
  position:absolute;
  left:2px;
  top:20px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u1899 {
  position:absolute;
  left:687px;
  top:205px;
  width:301px;
  height:13px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1901 {
  position:absolute;
  left:749px;
  top:225px;
  width:180px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1902 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u1903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1903 {
  position:absolute;
  left:691px;
  top:227px;
  width:47px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1904 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1905 {
  position:absolute;
  left:686px;
  top:225px;
  width:21px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1906 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1907 {
  position:absolute;
  left:810px;
  top:79px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1908 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1910 {
  position:absolute;
  left:1130px;
  top:110px;
  width:350px;
  height:745px;
  opacity:0;
}
#u1911 {
  position:absolute;
  left:2px;
  top:364px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1912 {
  position:absolute;
  left:1155px;
  top:215px;
  width:305px;
  height:545px;
}
#u1913 {
  position:absolute;
  left:2px;
  top:264px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:13px;
  background:inherit;
  background-color:rgba(34, 181, 137, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(34, 181, 137, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1914 {
  position:absolute;
  left:1157px;
  top:216px;
  width:304px;
  height:13px;
}
#u1915 {
  position:absolute;
  left:2px;
  top:-2px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u1916 {
  position:absolute;
  left:1157px;
  top:216px;
  width:301px;
  height:13px;
}
#u1917 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:55px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919 {
  position:absolute;
  left:1157px;
  top:205px;
  width:304px;
  height:55px;
}
#u1920 {
  position:absolute;
  left:2px;
  top:20px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u1921 {
  position:absolute;
  left:1157px;
  top:205px;
  width:301px;
  height:13px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1923 {
  position:absolute;
  left:1219px;
  top:225px;
  width:180px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u1924 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1925 {
  position:absolute;
  left:1161px;
  top:227px;
  width:47px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1927 {
  position:absolute;
  left:1156px;
  top:225px;
  width:21px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u1928 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1929 {
  position:absolute;
  left:1280px;
  top:79px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1931 {
  position:absolute;
  left:686px;
  top:261px;
  touch-action:none;
}
#u1931_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1931_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u1932 {
  position:absolute;
  left:799px;
  top:281px;
  width:1px;
  height:16px;
}
#u1933 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1934 {
  position:absolute;
  left:805px;
  top:366px;
  width:83px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1935 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u1936 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1937 {
  position:absolute;
  left:697px;
  top:428px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1939 {
  position:absolute;
  left:844px;
  top:427px;
  width:141px;
  height:32px;
  text-align:center;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1942 {
  position:absolute;
  left:697px;
  top:515px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1944 {
  position:absolute;
  left:930px;
  top:515px;
  width:43px;
  height:16px;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1947 {
  position:absolute;
  left:697px;
  top:555px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1949 {
  position:absolute;
  left:900px;
  top:555px;
  width:73px;
  height:16px;
}
#u1950 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1951 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1952 {
  position:absolute;
  left:697px;
  top:469px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1953 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1954 {
  position:absolute;
  left:818px;
  top:469px;
  width:155px;
  height:16px;
}
#u1955 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u1956 {
  position:absolute;
  left:1156px;
  top:260px;
  touch-action:none;
}
#u1956_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1956_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u1957 {
  position:absolute;
  left:1269px;
  top:280px;
  width:1px;
  height:16px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:40px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1959 {
  position:absolute;
  left:1156px;
  top:710px;
  width:305px;
  height:40px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:12px;
  width:301px;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1961 {
  position:absolute;
  left:1275px;
  top:365px;
  width:50px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1962 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u1963 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1964 {
  position:absolute;
  left:1167px;
  top:427px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1965 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1966 {
  position:absolute;
  left:1309px;
  top:426px;
  width:155px;
  height:16px;
  text-align:center;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1969 {
  position:absolute;
  left:1167px;
  top:470px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1971 {
  position:absolute;
  left:1400px;
  top:470px;
  width:43px;
  height:16px;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1974 {
  position:absolute;
  left:1167px;
  top:510px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1976 {
  position:absolute;
  left:1370px;
  top:510px;
  width:73px;
  height:16px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u1978 {
  position:absolute;
  left:819px;
  top:290px;
  width:39px;
  height:36px;
}
#u1979 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1980 {
  position:absolute;
  left:810px;
  top:334px;
  width:57px;
  height:16px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u1982 {
  position:absolute;
  left:1289px;
  top:280px;
  width:39px;
  height:36px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1984 {
  position:absolute;
  left:1280px;
  top:324px;
  width:57px;
  height:16px;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:745px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1987 {
  position:absolute;
  left:1577px;
  top:110px;
  width:350px;
  height:745px;
  opacity:0;
}
#u1988 {
  position:absolute;
  left:2px;
  top:364px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:545px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989 {
  position:absolute;
  left:1602px;
  top:215px;
  width:305px;
  height:545px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:264px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:13px;
  background:inherit;
  background-color:rgba(34, 181, 137, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(34, 181, 137, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1991 {
  position:absolute;
  left:1604px;
  top:216px;
  width:304px;
  height:13px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:-2px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u1993 {
  position:absolute;
  left:1604px;
  top:216px;
  width:301px;
  height:13px;
}
#u1994 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:55px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1996 {
  position:absolute;
  left:1604px;
  top:205px;
  width:304px;
  height:55px;
}
#u1997 {
  position:absolute;
  left:2px;
  top:20px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:13px;
}
#u1998 {
  position:absolute;
  left:1604px;
  top:205px;
  width:301px;
  height:13px;
}
#u1999 {
  position:absolute;
  left:2px;
  top:-2px;
  width:297px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2000 {
  position:absolute;
  left:1666px;
  top:225px;
  width:180px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u2001 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  word-wrap:break-word;
}
#u2002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2002 {
  position:absolute;
  left:1608px;
  top:227px;
  width:47px;
  height:17px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u2003 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  word-wrap:break-word;
}
#u2004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u2004 {
  position:absolute;
  left:1603px;
  top:225px;
  width:21px;
  height:21px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
}
#u2005 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2006 {
  position:absolute;
  left:1727px;
  top:79px;
  width:43px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2008 {
  position:absolute;
  left:1603px;
  top:260px;
  touch-action:none;
}
#u2008_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2008_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
}
#u2009 {
  position:absolute;
  left:1716px;
  top:280px;
  width:1px;
  height:16px;
}
#u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:40px;
  background:inherit;
  background-color:rgba(134, 134, 134, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2011 {
  position:absolute;
  left:1603px;
  top:710px;
  width:305px;
  height:40px;
}
#u2012 {
  position:absolute;
  left:2px;
  top:12px;
  width:301px;
  word-wrap:break-word;
}
#u2013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2013 {
  position:absolute;
  left:1722px;
  top:365px;
  width:70px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2014 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2016 {
  position:absolute;
  left:1614px;
  top:427px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2018 {
  position:absolute;
  left:1756px;
  top:426px;
  width:155px;
  height:16px;
  text-align:center;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2020 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2021 {
  position:absolute;
  left:1614px;
  top:470px;
  width:71px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2022 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2023 {
  position:absolute;
  left:1847px;
  top:470px;
  width:43px;
  height:16px;
}
#u2024 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2026 {
  position:absolute;
  left:1614px;
  top:510px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2027 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2028 {
  position:absolute;
  left:1817px;
  top:510px;
  width:73px;
  height:16px;
}
#u2029 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:36px;
}
#u2030 {
  position:absolute;
  left:1736px;
  top:280px;
  width:39px;
  height:36px;
}
#u2031 {
  position:absolute;
  left:2px;
  top:10px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2032 {
  position:absolute;
  left:1727px;
  top:324px;
  width:57px;
  height:16px;
}
#u2033 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:546px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2035 {
  position:absolute;
  left:1603px;
  top:205px;
  width:313px;
  height:546px;
  opacity:0.6;
}
#u2036 {
  position:absolute;
  left:2px;
  top:265px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2037 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2038 {
  position:absolute;
  left:1603px;
  top:404px;
  width:306px;
  height:173px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:78px;
  width:302px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2040 {
  position:absolute;
  left:1720px;
  top:459px;
  width:83px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2041 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2042 {
  position:absolute;
  left:1699px;
  top:485px;
  width:115px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  position:absolute;
  left:1681px;
  top:522px;
  width:140px;
  height:40px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
